@import url('https://fonts.googleapis.com/css?family=Roboto');

#calculator-page{
    height: 100%;
    background:white;
    display: flex; 
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    color:black;
}
.calculator-form{

    max-width: 70vw;
    border-radius: 10px;
    border:1px solid lightgray;
    margin-top: 15em;
}
h1{
    color: blue;
    text-align: center;
}
h4{
    color: red;
    margin-left: 10px;
    margin-top: 5px;
    font-variant-numeric: normal;
}
label{
    font-size: small;
    margin-top: 5px;
    margin-bottom: 0px;
    margin-left: 10px;
    text-align: justify;
}
.row{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.input-group {
    display: flex; 
    margin: 10px 5px;
}
.text-input{
    display: flex;
    margin: 10px 5px;
}
select [type="text"]{
    border:2px solid gray;
    border-radius:4px;
    outline: none;
    font-size: 18px;
    height: 25px; 
    padding-left:10px;
    padding-right: 10px;
    text-align: center;
}

button {
    border:1px solid gray;
    border-radius: 4px;
    height: 2.5em; 
    width: 12em;
    font-size: 14px;
    text-align: center; 
    background-color: blue;
    color: white;
    margin-bottom:10px;
    margin-left: 10px;
}
